*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: 'Tauri', monospace;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #d0d1d2;
}

:root {
  /* components */
  --header-spacing: 10px;
  --navbar-spacing: 10px;
  --footer-spacing: 20px;

  /* pages */
  --page-top-spacing: 40px;
  --page-r-spacing: max(50px, 20vw);
  --page-l-spacing: 5vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
